/* ------------------ CSS RESET ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 93.75%;
}

body {
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------------ CSS RESET ----------------- */

body {
  margin: 0;
  padding: 0;
  width: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 0.9375rem;
}

main {
  width: 1440px;
  height: 800px;
  display: flex;
  justify-content: center;
}

@media (max-width: 400px) {
  main {
    width: 375px;
    height: auto;
    display: flex;
    justify-content: center;
  }
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 320px;
  text-align: center;
  padding: 16px 16px 40px;
  border-radius: 20px;
}

h1 {
  margin: 25px 20px 16px;
  color: hsl(218, 44%, 22%);
  font-size: 1.45rem;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  padding: 0 18px;
  letter-spacing: 0.2px;
}

.qr-code-image {
  border-radius: 10px;
  max-width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
